#bc_section {
  color: brown;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#bc1,
#bc2,
#bc3,
#bc4,
#bc5,
#bc6,
#bc7,
#bc8,
#bc9,
#bc10 {
  background: gainsboro;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  text-align: center;
}
